.data-bar {
    font-size: small;
    color: rgb(0, 0, 255);
    margin: .3rem;
    background-color: rgb(245, 201, 28);
    width: 100%;
    text-align: center;
}

.data-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75%;
    margin-top: 20px;
}

.menu {
    display: block;
    height: 60px;
    background-color: darkblue;
    text-align: center;
}

.menu-item {
    display: inline-flex;
    color: whitesmoke;
}
.menu-divider {
    display: inline-flex;
    margin: auto 20px auto 20px;
    height: 40px;
    width: 5px;
    background-color: white;
}

.menu-group {
    display: inline-flex;
}

